# OS Files
[Tt]humbs.db
*.DS_Store

# Visual Studio Files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.vc.opendb
*.VC.db
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
.vs/

# Project Files
[Bb]uild/

# Office Temporary Files
~$*

# vim Temporary Files
*~

# LaTeX Files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.thm

# Linux Files
autom4te.cache
glog-*.tar.gz
packages/rpm-unknown
packages/debian-*
CMakeCache.txt
CMakeFiles/
*.cmake
config.h
*.sln
*.vcxproj
*.filters
bazel-*
